@{
    ViewData["Title"] = "Something Went Wrong";
}

<div class="container text-center mt-5">
    <h1 class="text-warning">Oops! Something went wrong</h1>
    <p class="lead">An unexpected error occurred. Please try again later.</p>
    <a href="/" class="btn btn-primary">Go to Homepage</a>
</div>

