<div class="container mt-4">
    <h2 class="text-center mb-4">Admin Dashboard</h2>
    <div class="row">
        <div class="col-md-4 mb-3">
            <a href="#" class="btn btn-primary w-100">Manage Shops</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="#" class="btn btn-secondary w-100">Manage Orders</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="#" class="btn btn-success w-100">Manage Products</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="#" class="btn btn-warning w-100">Manage Categories</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="#" class="btn btn-danger w-100">View Reports</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="#" class="btn btn-info w-100">Settings</a>
        </div>
    </div>
</div>